{% extends "base.html" %} {% block content %}
<div class="w-screen p-4 flex flex-col items-center">
	<h1 class='font-bold'>{{object.first_name}} {{object.last_name}}</h1>
	<p>Email: {{object.email}}</p>
	<p>CPF: {{object.cpf}}</p>
	<p>Salário: R${{object.salary}}</p>
	<a class='font-bold rounded-md border-gray-400 border-2 p-1 hover:cursor-pointer' href="/degustador/editar/{{object.cpf}}">Editar</a>
	<a class='font-bold rounded-md border-gray-400 border-2 p-1 hover:cursor-pointer' href="/degustador/remover/{{object.cpf}}">Excluir</a>
</div>

{% endblock %}
